body {
   background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 76, 121, 1) 42%, rgba(0, 212, 255, 1) 100%);
}
h1 , h2, p {
    color: white;
    text-align: center;
    font-family: "Oswald", sans-serif;


}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
p {
    font-size: 30px;
    font-family: "Dancing Script", cursive;
}