body{background-color: #8a2be2;
color: white;
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}
h1 {text-align: center;
margin-top: 20px;
font-size: 50px;
}
a {color: white;
font-size: 20px;
text-decoration: none;
margin: 0px auto;
display: block;
padding: 20px;
text-align: center;
} 
a:hover {
    color: black;
text-decoration: underline;
background-color: aliceblue;
border-radius: 10px;
}
#padre {
    font-size: 10px;
}
h2 {
    font-size: 4em;
}
h3 {
    font-size: 5em;
}
li {
    font-size: 3rem;

}