:root{
    color-scheme: light dark;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin : 0;
    padding: 0;
    text-align: center;
    background-color: light-dark(#eee, #333); 
    color: light-dark(#333, #eee); 

}